==============================================
--------- Definicion de directorios ----------
------ con su signo de configuracion ---------
==============================================
>$packageName/managedbeans/<ManagedBean.java
>$packageName/managedbeans/<.faces-config.xml.jsfdia
>$packageName/managedbeans/<!gitignore.gitignore